@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Homemade+Apple&family=Indie+Flower&family=Just+Another+Hand&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pacifico&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* VARIABLES =====================================================================================================================| */
:root {
  --brown: #7F5539;
  --lightBrown: #A68A64;
  --darkBrown: #53351e;
  --offWhite: #EDE0D4;
  --green: #656D4A;
  --darkGreen: #414833;

  --generalFont: "Spectral", serif;
  --dyslexiaFriendlyFont: Arial, Helvetica, sans-serif;
}


/* BASIC STYLING =====================================================================================================================| */
body, html {
    font-family: var(--generalFont);
    background-color: var(--offWhite);
}
* {
    font-family: inherit;
}
a, a:hover {
    color: var(--offWhite);
}
.flexBottom {
    margin-top: auto;
}
form {
    width: 20vw;
}
form .form-control {
    margin-left: 0;  
}
input {
    width: 20vw;
    font-size: 2vh;
    margin-right: 1vw; margin-left: 1vw;
}
input[type=checkbox] {
    width: 1vw;
    font-size: 2vh;
    margin-right: 0; margin-left: 0;
}


/* GENERAL SECTIONS =====================================================================================================================| */
.sectionContentHolderClear {
    width: 96%;
}
.section-content-holder-green {
    width: 96%;
    background-color: var(--green);
    padding: 2vw;
    margin-top: 1vw; margin-bottom: 1vw;
    color: var(--offWhite);
}
.third-section-topper-brown {
    background-color: var(--darkBrown);
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
.third-section-brown {
    width: 30vw;
    margin-left: 2vw; margin-right: 2vw;
    margin-top: 1vw; margin-bottom: 1vw;
    background-color: var(--green);
    color: black;
    text-align: left;
    overflow-y: auto;
    height: 75vh;
}
.third-section-dark-brown {
    width: 30vw;
    margin-left: 2vw; margin-right: 2vw;
    margin-top: 1vw; margin-bottom: 1vw;
    background-color: var(--brown);
}
.third-section-text {
    padding-left: 2vw; padding-right: 2vw;
    padding-top: 1vw; padding-bottom: 1vw;
}
.portraitWarning {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--offWhite);
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}
@media screen and (orientation: portrait) {
    .portraitWarning {
        display: flex; /* make the warning visable if a user has their device in portrait mode */
    }
}


/* GENERAL BUTTONS =====================================================================================================================| */
.main-button-brown {
    width: 35vw;
    margin: 1vw;
    padding: 0.5vw;
    background: var(--brown);
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 2.5vh; 
}
.main-button-brown-small {
    width: 10vw;
    padding: 0.5vw;
    background: var(--brown);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 2vh; 
}
.main-button-brown-xsmall {
    width: fit-content;
    padding: 0.5vw;
    background: var(--brown);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 1.5vh; 
}
.main-button-brown-xsmall:hover {
    background: var(--darkBrown);
}
.main-button-brown-xsmall:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}
.main-button-brown-small:hover {
    background: var(--darkBrown);
}
.main-button-brown-small:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}
.main-button-brown:hover {
    background: var(--darkBrown);
}
.main-button-brown:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}


/* STYLING ABOVE NAV BAR =====================================================================================================================| */
.site-logo-img {
    height: 9vh;
    margin-top: 2vh; margin-bottom: 2vh; 
}
.PFPImg {
    height: 9vh;
    margin-top: 2vh; margin-bottom: 2vh;
}
.site-logo-text {
    height: 9vh;
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
    color: var(--darkBrown);
    margin-left: 1vw;
}
.site-logo-text:hover {
    color: inherit;
    text-decoration: none;
}
.aboveNavBar {
    width: 96vw;
}
.tagline {
    height: 9vh;
    font-size: 5vh;
    font-family: "Just Another Hand", cursive;
    color: var(--darkGreen);
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 1%;
    margin-right: 9%;
}


/* NAV BAR =====================================================================================================================| */
.mainNavBar {
    width: 96vw;
    background-color: var(--brown);
}
.navBarTexts {
    background-color: var(--brown);
    border: none;
    padding-left: 2vw; padding-right: 2vw; 
    padding-top: 1vw; padding-bottom: 1vw; 
    color: white;
    font-size: 2vh;
    width: 10vw;
}
.navBarTexts:hover {
    background-color: var(--darkBrown);
}
.navBarTexts:focus {
    outline: none; /* removes small border */
}


/* HOME PAGE =====================================================================================================================| */
.title-text {
    color: var(--darkGreen);
    text-align: center;
    font-weight: bold;
    font-size: 680%;
    margin: 10vh;
}
.sub-title-text {
    color: var(--darkGreen);
    text-align: center;
    font-size: 300%;
    margin: 8vh;
}
.paragraph-text {
    color: var(--darkBrown);
    text-align: center;
}
.button-text {
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
}

/* DROPDOWN MENU =====================================================================================================================| */
.dropdown-menu {
    left: 0% !important;
    transform: translateX(-60%) !important; /* this and above line cause it to center with above button */
    top: 85% !important; /* bring close to bottom of button */
    width: fit-content;
}
.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.unstyled-button:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}
.dropdown-menu {
    border-color: var(--darkBrown) !important;
}
.dropdown-item {
    color: var(--darkBrown) !important;
    font-weight: bold !important;
    text-align: left !important;
}
.short-line {
    width: 50%;
}


/* USER PROFILE =====================================================================================================================| */
.userPFP {
    width: 40vh;
    align-content: center;
}
.userName {
    color: var(--offWhite) !important;
    font-size: 4vh;
    text-align: center;
    font-weight: bold;
}
.avatar-option {
    width: 10%;
    margin: 1%;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.15s ease, border 0.15s ease;
}
.avatar-option:hover {
    transform: scale(1.1);
}
.avatar-option.selected {
    border-color: #654321;
}
.icon-option {
    width: 5vw;
    padding: 1vh;
    margin: 1vh;
    border: 0.5vh solid transparent;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.15s ease, border 0.15s ease;
}
.icon-option:hover {
    transform: scale(1.1);
}
.icon-option.selected {
    border-color: #654321;
}
.userLabel {
    color: var(--offWhite);
    font-weight: bold; 
    font-size: 3vh;
    padding-top: 2%; padding-bottom: 2%;
}
.userDesc {
    color: var(--offWhite);
    font-size: 1.5vh;
}


/* MY COLLECTIONS + MY READS =====================================================================================================================| */
.my-collections-reads-table {
    width: 100%;
    color: var(--offWhite);
    font-size: 4vh;
    border: 5px solid var(--darkBrown);
}
.my-collections-reads-table th {
    background-color: var(--brown);
    border-bottom: 5px solid var(--darkBrown);
}
 .my-collections-reads-table td {
    background-color: var(--green);
    border-bottom: 2px solid var(--darkBrown);
 }
.my-collections-reads-table td:first-child {
    text-decoration: underline;
}
.collections-dropdown {
    width: 20%;
    background-color: var(--brown);
    color: var(--offWhite);
    font-size: 3vh;
    text-align: center;
    border: 5px solid var(--darkBrown);
}


/* LOGIN =====================================================================================================================| */
.login-container {
    display: flex;
    flex-direction: row;
    background-color: var(--green);
    align-items: center;
    justify-content: center;
    width: 30vw;
    color: var(--offWhite);
    font-size: 1vw;
    padding: 2vw;
    
}
.login-container label {
    font-weight: bold;
}
.login-title {
    color: var(--darkGreen);
    text-align: center;
    font-size: 5vh;
    margin: 4vh;
    font-weight: bold;
}


/* COLLECTIONS PAGE =====================================================================================================================| */
.collection {
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr;
    background-color: var(--lightBrown);
    padding: 3vh;
    column-gap: 2vh;
}
.innerCollectionLit {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: var(--lightBrown);
    width: 90%;
    padding: 1%;
    align-items: center;
    border-style: solid;
    border-color: var(--brown);
    border-width: 0.5vh;
    margin: 1vh;
}
.innerCollectionLitImg {
    width: 5vw;
}


/* BROWSE PAGE =====================================================================================================================| */
.browserContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2vh;
}
.filter {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--green);
    padding: 3vh;
    color: var(--offWhite);
    height: 100%;
}
.filterTitle {
    font-size: 3vh;
    font-weight: bold;
}
.filter form {
    text-align: left;
}
.filter form fieldset label {
    font-size: 2vh;
    font-weight: bold;
}
.lit {
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr;
    background-color: var(--lightBrown);
    padding: 3vh;
    column-gap: 2vh;
}
#results > div {
    display: flex;
    flex-direction: column;
    gap: 2vh; 
} 
.coverImgContainer {
    display: grid;
    width: fit-content;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 5;
}
.coverImage {
    width: 20vh;
}
.litTitle {
    font-size: 3vh;
    font-weight: bold;
    text-align: left;
    color: var(--darkBrown);
}
.litAuthor {
    font-size: 2vh;
    text-align: left;
    grid-row: 2;
    color: var(--darkBrown);
}
.litRating {
    font-size: 2vh;
    grid-row: 4;
    text-align: left;
    color: var(--darkBrown);
}
.iconsContainer {
    display: flex;
    grid-row: 1;
    grid-column: 3;
    justify-content: right;
    gap: 3vh;
}
.icon {
    width: 5vh;
}


/* CONTACT US =====================================================================================================================| */
.contactForm {
    text-align: left;
    color: var(--offWhite);
    font-weight: bold;
    font-size: 2vh;
    padding-left: 5vw; padding-right: 5vw;
    padding-top: 2vw; padding-bottom: 2vw;
    width: 100%;
}
.contactForm fieldset {
    margin: 1vw;
}


/* POPUP GENERAL =====================================================================================================================| */
.popupBackdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}
.popup {
    display: none; 
    background-color: var(--darkGreen);
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 70vh;
    border-style: solid;
    border-width: 1vh;
    border-color: var(--darkBrown);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    grid-template-columns: 0.5fr 15fr 0.5fr;
    grid-template-rows: 100%;
    z-index: 10000;
    position: fixed;
    top: 50%;         
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup.show {
    display: grid;
}
.popupSmall {
    display: flex; 
    background-color: var(--green);
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    max-height: 60vh;
    overflow-y: auto;
    border-style: solid;
    border-width: 1vh;
    border-color: var(--darkBrown);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    grid-template-columns: 0.5fr 15fr 0.5fr;
    grid-template-rows: 100%;
    z-index: 10000;
    position: fixed;
    top: 50%;         
    left: 50%;
    transform: translate(-50%, -50%);
}
.popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    grid-column: 2;
    height: 100%;
    overflow-y: auto;
    color: var(--offWhite);
    z-index: 10000;
    padding: 2%;         
    justify-content: flex-start; 
    text-align: center;
}
.popupContent form {
    width: 80%;
    align-items: left;
    text-align: left;
}
.popupContentForm {
    width: 80%;
    align-items: left;
    text-align: left;
}
.close {
    font-size: 1.5rem;
    cursor: pointer;
    grid-column: 3;
    height: 100%;
    text-align: right;
    padding-right: 0.75vh;
    color: white;
    z-index: 10000; 
}
.close:hover {
    color: white;
}

/* POPUP SPECIFICS =====================================================================================================================| */
.popupContentEditProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    grid-column: 2;
    height: 100%;
    overflow-y: auto;
    color: var(--offWhite);
    z-index: 10000;
    padding: 2%;         
    justify-content: flex-start; 
    text-align: center;
}
.popupContentEditProfileForm {
    width: 80%;
    align-items: left;
    text-align: left;
}
.popupContentReview {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    grid-column: 2;
    height: 100%;
    overflow-y: auto;
    color: var(--offWhite);
    z-index: 10000;
    padding: 2%;         
    justify-content: flex-start; 
    text-align: center;
}
.popupContentReview form {
    width: 80%;
    align-items: left;
    text-align: left;
}
.popupContentCollection {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    grid-column: 2;
    height: 100%;
    overflow-y: auto;
    color: var(--offWhite);
    z-index: 10000;
    padding: 2%;         
    justify-content: flex-start; 
    text-align: center;
}
.popupContentCollection form {
    width: 80%;
    align-items: left;
    text-align: left;
}
.collectionContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--lightBrown);
    width: 100%;
    padding: 0.5%;
    align-items: center;
    border-style: solid;
    border-color: var(--brown);
    border-width: 0.5vh;
    margin: 1vh;
}
.collectionContainer:focus {
    border-color: var(--darkBrown);
}
.collectionImg {
    width: 4vw;
    margin: 1vw;
}
.collectionTitle {
    color: var(--darkBrown);
    font-weight: bold;
    font-size: 3vh;
}
.collectionSelection {
    transform: scale(1.5);
    accent-color: var(--darkBrown);
    margin-left: 1vh;
}
.popupContentViewReviews {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    grid-column: 2;
    height: 100%;
    overflow-y: auto;
    color: var(--offWhite);
    z-index: 10000;
    padding: 2%;         
    justify-content: flex-start; 
    text-align: center;
}
.reviewContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--lightBrown);
    width: 80%;
    padding: 1%;
    align-items: left;
    border-style: solid;
    border-color: var(--brown);
    border-width: 0.5vh;
    margin: 1vh;
    text-align: left;
}
.reviewRating {
    font-size: 3vh;
}


/* STAR RATING SYSTEM =====================================================================================================================| */
.stars {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    color: var(--offWhite);
    /* margin-top: -2%; margin-bottom: -2%; */
}
.starsFull {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    color: var(--darkBrown);
}
.stars input {
    display: none;
}
.stars label {
    color: var(--lightBrown);
    cursor: pointer;
    transition: color 0.2s;
}
.stars label:hover,
.stars label:hover ~ label {
    color: var(--darkBrown);
}
.stars input:checked ~ label {
    color: var(--darkBrown);
}
.stars::before {
  content: "★★★★★";
  position: absolute;
  inset: 0;
  width: var(--percent, 0%);
  overflow: hidden;
  color: var(--darkBrown);
  pointer-events: none;
}

/* SETTINGS PAGE =====================================================================================================================| */
.settingsSection {
    width: 100%;
    display: grid;
    gap: 2vh;
    grid-template-columns: 1.5fr 6fr;
    text-align: left;
}
.settingsCategories {
    background-color: var(--green);
    color: var(--offWhite);
    position: sticky;
    top: 0;
    height: 100%;
    padding-left: 1vw; padding-right: 1vw;
}
.sectionCategoriesContainer {
    position: sticky;
    top: 0;
    height: fit-content;
    padding-top: 1vw;
}
.settingsCategories h1 {
    font-size: 3vh;
    font-weight: bold;
}
.settingsCategories h2 {
    font-size: 2vh;
    font-weight: bold;
    margin-top: 2vh; margin-bottom: 2vh;
}
.settingsValues {
    background-color: var(--lightBrown);
    padding: 1vw;
    color: var(--darkBrown);
}
.settingsValues form {
    width: 100%;
}
.settingsValues form label {
    font-weight: bold;
    margin-top: 1vw; margin-bottom: 0.5vw;
}
.settingsValues fieldset {
    margin-top: 1vw;
}
.pfpContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.settingsValues h1 {
    font-size: 2vh;
    font-weight: bold;
}
.buttonPFP {
    background: none;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    border-width: 0.5vh;
    padding: 0;
    margin-top: 1vh; margin-bottom: 1vh; margin-right: 1vh;
}
.buttonPFP img {
    width: 8vw;
    margin: 1vh;
}
.buttonPFP:focus {
    outline: none; 
    box-shadow: none;
    border-style: solid;
    border-color: var(--darkBrown);
}
.buttonPFP:hover {
    outline: none; 
    box-shadow: none;
    border-style: solid;
    border-color: var(--darkBrown);
}