:root {
  --brown: #7F5539;
  --lightBrown: #A68A64;
  --darkBrown: #53351e;
  --offWhite: #EDE0D4;
  --green: #656D4A;
  --darkGreen: #414833;
}

body {
    background-color: var(--offWhite);
}

.sectionContentHolder {
    width: 96vw;
}

/* top-most bar */
.siteLogoImg {
    height: 9vh;
    margin-top: 2vh; margin-bottom: 2vh; 
}
.PFPImg {
    height: 9vh;
    margin-top: 2vh; margin-bottom: 2vh;
}
.siteLogoText {
    height: 9vh;
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
    color: var(--darkBrown);
    margin-left: 1vw;
}

/* nav bar */
.aboveNavBar {
    width: 96vw;
}
.mainNavBar {
    width: 96vw;
    background-color: var(--brown);
}
.navBarTexts {
    background-color: var(--brown);
    border: none;
    padding-left: 2vw; padding-right: 2vw; 
    padding-top: 1vw; padding-bottom: 1vw; 
    color: white;
    font-size: 2vh;
    width: 10vw;
}
.navBarTexts:hover {
    background-color: var(--darkBrown);
}
.navBarTexts:focus {
    outline: none; /* removes small border */
}
input {
    width: 20vw;
    font-size: 2vh;
    margin-right: 1vw; margin-left: 1vw;
}

/* Add onto */
.title-text {
    color: var(--darkGreen);
    text-align: center;
}
.paragraph-text {
    color: var(--darkBrown);
    text-align: center;
}

/* dropdown menu */
.dropdown-menu {
    left: 0% !important;
    transform: translateX(-50%) !important; /* this and above line cause it to center with above button */
    top: 85% !important; /* bring close to bottom of button */
}
.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.unstyled-button:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}
.dropdown-menu {
    border-color: var(--darkBrown) !important;
}
.dropdown-item {
    color: var(--darkBrown) !important;
    font-weight: bold !important;
    text-align: left !important;
}
.short-line {
    width: 50%;
}

/* user profile */
.userPFP {
    width: 20vw;
}