:root {
  --brown: #7F5539;
  --lightBrown: #A68A64;
  --darkBrown: #53351e;
  --offWhite: #EDE0D4;
  --green: #656D4A;
  --darkGreen: #414833;
}

body {
    background-color: var(--offWhite);
}

/* general */
.sectionContentHolderClear {
    width: 96vw;
}
.sectionContentHolderGreen {
    width: 96vw;
    background-color: var(--green);
    padding: 2vw;
    margin-top: 1vw; margin-bottom: 1vw;
    color: var(--offWhite);
}
.thirdSectionTopperBrown {
    background-color: var(--brown);
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-align: center;
}
.thirdSectionBrown {
    width: 30vw;
    margin-left: 2vw; margin-right: 2vw;
    margin-top: 1vw; margin-bottom: 1vw;
    background-color: var(--lightBrown);
    color: black;
    text-align: left;
}
.thirdSectionDarkBrown {
    width: 30vw;
    margin-left: 2vw; margin-right: 2vw;
    margin-top: 1vw; margin-bottom: 1vw;
    background-color: var(--brown);
}
.thirdSectionText {
    padding-left: 2vw; padding-right: 2vw;
    padding-top: 1vw; padding-bottom: 1vw;
}
.mainButtonBrown {
    width: 35vw;
    margin: 1vw;
    padding: 0.5vw;
    background: var(--brown);
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 2.5vh; 
}
.mainButtonBrownSmall {
    width: 10vw;
    padding: 0.5vw;
    background: var(--brown);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 2vh; 
}
.mainButtonBrownSmall:hover {
    background: var(--darkBrown);
}
.mainButtonBrownSmall:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}
.mainButtonBrown:hover {
    background: var(--darkBrown);
}
.mainButtonBrown:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}
a, a:hover {
    color: var(--offWhite);
}
.flexBottom {
    margin-top: auto;
}


/* top-most bar */
.siteLogoImg {
    height: 9vh;
    margin-top: 2vh; margin-bottom: 2vh; 
}
.PFPImg {
    height: 9vh;
    margin-top: 2vh; margin-bottom: 2vh;
}
.siteLogoText {
    height: 9vh;
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
    color: var(--darkBrown);
    margin-left: 1vw;
}
.siteLogoText:hover {
    color: inherit;
    text-decoration: none;
}

/* nav bar */
.aboveNavBar {
    width: 96vw;
}
.mainNavBar {
    width: 96vw;
    background-color: var(--brown);
}
.navBarTexts {
    background-color: var(--brown);
    border: none;
    padding-left: 2vw; padding-right: 2vw; 
    padding-top: 1vw; padding-bottom: 1vw; 
    color: white;
    font-size: 2vh;
    width: 10vw;
}
.navBarTexts:hover {
    background-color: var(--darkBrown);
}
.navBarTexts:focus {
    outline: none; /* removes small border */
}
input {
    width: 20vw;
    font-size: 2vh;
    margin-right: 1vw; margin-left: 1vw;
}

/* Home Page */
.title-text {
    color: var(--darkGreen);
    text-align: center;
    font-weight: bold;
    font-size: 12vh;
    margin: 10vh;
}
.sub-title-text {
    color: var(--darkGreen);
    text-align: center;
    font-size: 5vh;
    margin: 8vh;
}
.paragraph-text {
    color: var(--darkBrown);
    text-align: center;
}
.button-text {
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
}

/* dropdown menu */
.dropdown-menu {
    left: 0% !important;
    transform: translateX(-60%) !important; /* this and above line cause it to center with above button */
    top: 85% !important; /* bring close to bottom of button */
    width: 13vw;
}
.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.unstyled-button:focus {
    outline: none; /* removes small border */
    box-shadow: none;
}
.dropdown-menu {
    border-color: var(--darkBrown) !important;
}
.dropdown-item {
    color: var(--darkBrown) !important;
    font-weight: bold !important;
    text-align: left !important;
}
.short-line {
    width: 50%;
}

/* user profile */
.userPFP {
    width: 40vh;
    align-content: center;
}
.userName {
    color: var(--offWhite) !important;
    font-size: 4vh;
    text-align: center;
    font-weight: bold;
}

/* my collections and my reads */
.my-collections-reads-table {
    width: 100%;
    color: var(--offWhite);
    font-size: 4vh;
    border: 5px solid var(--darkBrown);
}
.my-collections-reads-table th {
    background-color: var(--brown);
    border-bottom: 5px solid var(--darkBrown);
}
 .my-collections-reads-table td {
    background-color: var(--green);
    border-bottom: 2px solid var(--darkBrown);
 }
.my-collections-reads-table td:first-child {
    text-decoration: underline;
}
.collections-dropdown {
    width: 20%;
    background-color: var(--brown);
    color: var(--offWhite);
    font-size: 3vh;
    text-align: center;
    border: 5px solid var(--darkBrown);
}

/* login */
.login-container {
    display: flex;
    flex-direction: row;
    background-color: var(--green);
    align-items: center;
    justify-content: center;
    width: 30vw;
    color: var(--offWhite);
    font-size: 1vw;
    padding: 2vw;
    
}
.login-container label {
    font-weight: bold;
}
form .form-control {
  margin-left: 0;  
}
.login-title {
    color: var(--darkGreen);
    text-align: center;
    font-size: 5vh;
    margin: 4vh;
    font-weight: bold;
}
form {
    width: 20vw;
}

/* browse */
.browserContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2vh;
}
.filter {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: var(--green);
    padding: 3vh;
    color: var(--offWhite);
    height: 100%;
}
.filterTitle {
    font-size: 3vh;
    font-weight: bold;
}
.filter form fieldset label {
    font-size: 2vh;
    font-weight: bold;
}
.lit {
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr;
    background-color: var(--lightBrown);
    padding: 3vh;
    column-gap: 2vh;
}
.coverImgContainer {
    display: grid;
    width: fit-content;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 5;
}
.coverImage {
    width: 20vh;
}
.litTitle {
    font-size: 3vh;
    font-weight: bold;
    text-align: left;
    color: var(--darkBrown);
}
.litAuthor {
    font-size: 2vh;
    text-align: left;
    grid-row: 2;
    color: var(--darkBrown);
}
.litRating {
    font-size: 2vh;
    grid-row: 4;
    text-align: left;
    color: var(--darkBrown);
}
.iconsContainer {
    display: flex;
    grid-row: 1;
    grid-column: 3;
    justify-content: right;
    gap: 3vh;
}
.icon {
    width: 5vh;
}


/* contact us */
.contactForm {
    text-align: left;
    color: var(--offWhite);
    font-weight: bold;
    font-size: 2vh;
    padding-left: 5vw; padding-right: 5vw;
    padding-top: 2vw; padding-bottom: 2vw;
    width: 100%;
}
.contactForm fieldset {
    margin: 1vw;
}


/* Review Popup */
.popup {
  display: none; 
  background-color: var(--darkGreen);
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 70vh;
  border-style: solid;
  border-width: 1vh;
  border-color: var(--darkBrown);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  grid-template-columns: 0.5fr 15fr 0.5fr;
  grid-template-rows: 100%;
  z-index: 9999;
  position: fixed;
  top: 50%;         
  left: 50%;
  transform: translate(-30%, -34%);
}

.popup-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--green);
  grid-column: 2;
  height: 100%;
  color: var(--offWhite);
  align-items: center;
  justify-content: center;
}

.popup-content form {
    width: 80%;
    align-items: left;
    text-align: left;
}

.close {
  font-size: 1.5rem;
  cursor: pointer;
  grid-column: 3;
  height: 100%;
  text-align: right;
  padding-right: 0.75vh;
  color: white;
}